*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.content{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300vh;
    background-color: #ffe9e3;
}
.main-body{
    background-color: white;
    margin: 1rem 4rem;
    border-radius: 2rem;
}
img{
    width: 90%;
    margin-top: 2rem;
    margin-left: 3.5rem;
    border-radius: 1.5rem;
}
hr{
    margin: 1rem;
}
.text{
    font-weight: bold;
    font-size: 0.8rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #141414;
}
.header{
    margin: 3rem;
}
.header p{
    margin: 1rem auto;
    font-size: 1rem;
    color: dimgray;
}
.prep{
    margin: 1rem 4rem;
    background-color: #ffe9e3;
    border-radius: 1rem;
}
.prep h3, li{
    padding: 0.5rem;
}
.prep ul{
    margin: 0 1.8rem;
}
.prep li{
    color: darkslategray;
}
.ingredients{
    margin: 2rem;
}
h2{
    color: #be3144;
    font-size: 1.5rem;
}
.ingredients ul{
       margin: 1rem 2rem;
}
.instructions{
    margin: 2rem;
}
.instructions ol{
    padding: 0 1rem;
    margin: 1.5rem 0;
    color: darkslategrey;
}
.nut{
    margin: 2rem;
}
#para{
    margin: 1rem auto;
    color: dimgray;
}
.num{
    float: right;
    margin: -8px;
    padding-right: 5rem;
}
.figures p{
    padding-left: 4rem;
}
@media (max-width: 540px){
    .content{
        width: 100%;
    }
    img{
        width: 80%;
        margin-left: 2rem;
    }
    .figures p{
        margin: -5px;
        padding-left: 2rem;
    }
}
@media (max-width: 900px){
img{
    margin-right: 1.5rem;
    width: 85%;
}
.main-body{
    margin: 0 2rem;
}
}
@media (max-width: 700px){
    img{
        width: 80%;
        margin-right: 2rem;
    }
}